h1 {
    font-size: 65px;
}

.text-container > p, .text-container > a {
    font-size: 20px;
}

.text-container >a {
    color: black;
    text-decoration: none;
}

.text-container > a:hover {
    text-decoration: underline;
}


#page-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.text-container {
    width: 100%;
    text-align: center;
}
