table {
    margin-bottom: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}


#account-container {
    margin: 1em;
}

#history-container {
    overflow: scroll;
}


.history-image {
    height: 6em;
}
