body {
    height: 100%;
    overflow-y: hidden;
    
    font-family: Helvetica;  
    background-color: #e8f1ef;
}

input[type ="text"], input[type ="email"], input[type ="password"] {
    padding: 5px;
    border: 2px solid black;
}

button {
    padding: 5px;
}
