#cart-container {
    margin: 1em;
}


.cart-image {
    height: 10em;
    width: 10em;
}

.cart-item {
    max-width: 80%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}