html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: #d6e5e1;
    
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    
}

button {
    border: 1px solid black;
    margin: 10px;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #bdc3c7;  
    
    transition: 0.15s;
}

button:hover {
    text-decoration: underline;
}

button:active {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#user-logo {
    height: 5vh;
    margin-right: 1vw;
}

#account-pill {
    top: 1em;
    right: 1.5em;
    position: absolute;
    align-self: flex-start;

    width: 16vw;
    padding: 0.5em;
    border-radius: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    background-color: #7cb17d;
}

#header-container {
    height: 100vh;
    width: 99vw;
    margin-bottom: 4em;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content : center;

    background-position: center;
    background-clip: padding-box;
    background-image: url("../img/header_banner.jpg");
    
    border-bottom: 3.5px solid black;
    box-shadow: 0 5px 2px -2px gray;
}

#logo-shadow {
    height: 27em;
    width: 27em;

    padding: 3%;
    border-radius: 50%;

    border: 3px dashed white;
    background-color: #ffffff4d;
}

#logo {
    height: 27em;
    width: 27em;
}

#arrow-container {
    height: 20vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#round {
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
    background-color: #7cb17d;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.25s, width 0.25s;
}

#round:hover {
    height: 16vh;
    width: 16vh;
}

#round:active {
    height: 10vh;
    width: 10vh;
}

#arrow {
    height: 10vh;
    animation: jumping 0.5s infinite alternate;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#presentation-block {
    width: 80vw;
    padding: 1em;
    padding-bottom: 3.5em;
    margin-bottom: 5vh;
    border-radius: 2px;
    box-shadow: 3px 3px 2px rgb(198, 195, 190);

    background-color: #7cb17d;
}

#presentation-block > p {
    margin-bottom: 0;
}

#customer-block-container {
    display: flex;
    justify-content: space-evenly;

    width: 90vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.customer-block {
    width: 40vw;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 2px;
    padding-bottom: 3.5em;
    box-shadow: 3px 3px 2px rgb(198, 195, 190);
    background-color: #7cb17d;
}

.customer-block > button {
    margin-top: 2vh;
}

.button-container {
    margin-top: 5px;
    position: absolute;

    display: flex;
    justify-content: flex-start;
}



@keyframes jumping {
    from {transform: translateY(0);}
    to {transform: translateY(1vh) }
}


@media screen and (max-width: 1024px) {

    h3 {
        text-align: center;
    }


    .menu-item > a::before {
        content: "- ";
    }

    #logo-shadow { 
        height: 20em;
        width: 20em;
        margin-top: 10vh;
    }

    #logo {
        height: 20em;
        width: 20em;
    }

    #account-pill {
        padding: 1vh;
        width: 10vw;
        height: 10vw;
        margin: 0.5em;
        border-radius: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #account-pill > a {
        display: none;
    }

    #user-logo {
        height: 8vw;
    }

    #customer-block-container {
        flex-wrap: wrap
    }

    #round {
        margin-top: -10vh;
    }


    .customer-block {
        width: 80vw;
        margin-bottom: 5vh;
    }  
}
