table {
    margin-bottom: 1em;
    overflow-y: scroll;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 0.5em;
}


#content {
    margin: 2em;
}


@media screen and (max-width: 1024px) {
    table, td, #content {
        overflow: scroll;
    }
}
